<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

</div>
<h2>Here are some links to help you start: </h2>

<h1>Angular Router</h1>
<nav>
  <a routerLink="/course" routerLinkActive="active">Course Center</a>
  <a routerLink="/datalist" routerLinkActive="active">datalist</a> 
  <a routerLink="/form" routerLinkActive="active">form</a> 
  <a routerLink="/invoice" routerLinkActive="active">invoice</a> 
  <a routerLink="/restclient" routerLinkActive="active">restclient</a>
</nav>
<router-outlet></router-outlet>
